PHONEPE_API_VERSION=v2
PHONEPE_MERCHANT_ID=
PHONEPE_SALT_KEY=
PHONEPE_SALT_INDEX=1
PHONEPE_API_KEY=
PHONEPE_CLIENT_ID=
PHONEPE_CLIENT_SECRET=
PHONEPE_CLIENT_VERSION=1
PHONEPE_WEBHOOK_USERNAME=
PHONEPE_WEBHOOK_PASSWORD=
PHONEPE_CUSTOMER_ORIGIN=https://customer.dashvanti.com
PAYMENT_ENCRYPTION_KEY=
PAYMENT_PROXY_SECRET=
GEOIP_DATABASE_PATH=
